.category-wrapper{
  width: 62rem;
  height: 600px;
  margin-bottom: 40px;
  background: rgb(255, 255, 255);
}

.category-grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Use auto-fill for a responsive grid */
  grid-gap: 10px; 
}
