.product-card {
  width: 100%;
  height: auto;
  margin-left: 1rem;
}

.product-img-container {
  width: 150px;
  height: 140px;
  border-radius: 10px;
  margin-bottom: 5px !important;
}

.product-imgg {
  border-radius: 10px;
  width: 100%;
}

.product-brand {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: rgba(2, 6, 12, 0.6);
  padding: 10px 10px 10px 0px;
}

.product-quantity {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 16px;
  color: rgba(2, 6, 12, 0.6);
}

.product-name {
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.75);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: calc(36px);
}

.product-mrp {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #676a6d;
  text-decoration: line-through;
}

.product-price {
  font-weight: 700;
  size: 14px;
  line-height: 18px;
  color: rgba(2, 6, 12, 0.75);
}

.product-price-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-grocery {
  width: 75px;
  height: 35px;
  background-color: transparent;
  border-radius: 10px;
  font-size: 13px;
  line-height: 30px;
  color: #60b246;
  font-weight: 600;
  border: 1px solid #676a6d;
}
